xconf-pune-service/xconf-service.suo
xconf-pune-service/xconf-service/bin/
xconf-pune-service/xconf-service/obj/
xconf-pune-app/xconf-pune.suo
xconf-pune-app/xconf-pune/Bin/
xconf-pune-app/xconf-pune/obj/
xconf-pune-app/xconf-pune-test/Bin/
xconf-pune-app/xconf-pune-test/obj/

